body{
	background-color: #fff;
	//text-align: center;
	background-image: url(../img/1.jpg);
	//background-repeat: no-repeat;
	background-size: 100%;
	width: 100%; height:auto;
}
div.box{
	height:auto; margin: 0 auto; 
	text-align: center;
	font-family: 幼圆;	
}
.input{
	margin-top: 40px;
	font-size: 1.3em;
}
.box .input ul{
	list-style-type:none;
}
.box .input ul li{
	padding-top: 20px;
}
input{
	width: 40%;
	height: 32px;
	border-radius: 5px;
	border-top: 1px solid #ffffff;
	border-left: 7px solid #ffffff;
	border-bottom: 1px solid #ffffff;
	border-right: 7px solid #ffffff;
}
.input p{
	padding-left: 30%;
	text-align: left;
}
textarea{
	width: 40%;
	min-height: 200px;
	border-radius: 5px;
	border: 7px solid #ffffff;
	
}
button{
	width: 40%;
}
