// body{
// 	//background-color: blue;
// 	//text-align: center;
// 	background-image: url(../img/hy.jpg);
// 	//background-repeat: no-repeat;
// 	//background-size: 100%;
// 	width: 100%; height:auto;
// }
div.box{
	background-image: url(../img/hy.jpg);
	background-size: 100%;
	//background-color: #002233;
	padding-top: 20%;
	height:auto; margin: 0 auto;
	text-align: center;
	font-family: 幼圆;
	color: #ffffff;
}
.input{
	margin-top: 30px;
	font-size: 1.3em;
	margin-left: -10.8%;
}
.box .input ul{
	list-style-type:none;
}
.box .input ul li{
	padding-top: 14px;
}
.a{
	width: 68%;
	height: 30px;
	//border-radius: 5px;
	///opacity: 0;
	background-color:transparent;
	border-bottom-width: 1.5px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #000000;
	// border-top: 1px solid #ffffff;
	// border-left: 7px solid #ffffff;
	// border-bottom: 1px solid #ffffff;
	// border-right: 7px solid #ffffff;
}
.b{
	width: 85%;
	margin-left: -17%;
	//text-align: left;
}
.input p{
	padding-left: 6%;
	text-align: left;
	color: #ffffff;	
}
textarea{
	background-color: #2a2b2c;
	min-width: 85%;
	//min-height: 300px;
	border-radius: 5px;
	border: 2px solid #ffffff;
    margin:0 auto;
    overflow: hidden;  
    height: 56px; 
    line-height: 24px; 
    outline: 0 none;
    letter-spacing:1px;
    text-indent: 2em;
}
button{
	width: 85%;
}
.x{
	text-align:center;
	clear:both; 
	margin-bottom: 0; 
	background-color: #2a2b2c;
	color: #ffffff;
}
